<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--登录后的首页面-->
    <meta charset="UTF-8">
    <!--适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--一CDN方式引入Semantic UI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <title>博客管理</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">博客管理</h2>
            <a href="#" th:href="@{/admin/blogList}" class="active m-item item m-mobile-hide"><i
                    class="home icon"></i>管理员首页</a>
            <a href="#" th:href="@{/}" class=" m-item item m-mobile-hide"><i
                    class="home icon"></i>博文列表</a>
            <a href="#" th:href="@{/admin/blogList}" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>

            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class="clone outline icon"></i>分类
            </a>
            <a href="#" th:href="@{/admin/TagsList}" class="m-item item m-mobile-hide"><i class="clock icon"></i>标签</a>
            <!--导航栏右头像部分-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item ">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/image/header.png"
                             th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">GJY</span>
                    </div>
                    <!--下拉图标-->
                    <i class="dropdown icon"></i>
                    <!--下拉菜单-->
                    <div class="menu">
                        <a href="#" th:href="@{/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>

            <div  class="right m-item item m-mobile-hide" th:if="${session.user}!=null" >
                <!--系统通知-->
                <a class="item" th:href="@{/messageList/{id}(id=${session.user.getId()})}">
                    <i class="bullhorn icon"></i>动态
                    <div class="floating ui red label">22</div>
                </a>

            </div>

            <div  class="right m-item item m-mobile-hide" th:if="${session.user}!=null" >
                <!--系统通知-->
                <a class="item" th:href="@{/messageList/{id}(id=${session.user.getId()})}">
                    <i class="bullhorn icon"></i>收藏
                    <div class="floating ui red label">22</div>
                </a>
            </div>
            <div  class="right m-item item m-mobile-hide" th:if="${session.user}==null">
                <!--登录or注册-->
                <a class="item">
                    <i class="button icon"></i>注册/登录
                </a>
            </div>

        </div>
    </div>

    <!--设置手机端时隐藏导航内容-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big" >
    <!--<div class="m-right-fix" id="messageList" style="display: none">
        <div class="some-wrapping-div">
            <div class="ui custom button" style="">Show custom popup</div>
        </div>
    </div>-->

    <div class="ui container">
        <div class="ui success large message ">
            <h2>Hi,</h2>
            <h2>欢迎登录</h2>
        </div>
        <!--首页图片-->
        <img class="ui rounded bordered fluid image" src="../../static/image/backgroud.jpg"
             th:src="@{https://picsum.photos/id/26/4209/2769}">
    </div>
</div>

<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>
                    <div href="#" class="m-text-thin">QQ：2390232432</div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            关注公众号
                        </div>
                        <img src="../../static/image/wechat.png" th:src="@{/image/wechat.png}"
                             class="ui m-margin-top rounded image"
                             alt=""
                             style="width:
                        110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            问题交流（QQ群）
                        </div>
                        <img src="../../static/image/wechat.png" th:src="@{/image/wechat.png}"
                             class="ui m-margin-top rounded image"
                             alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备20004408号-1</a>
    </div>
</footer>

<!--以CDN方式引入jQuery-->
<script src="../../static/jQuery/jquery-3.4.1.min.js" th:src="@{/jQuery/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    /*初始化下拉列表*/
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });

    /*消息提示关闭初始化*/
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        });

   /* $('#notic').mouseover(function (){
        alert("mmm")
    })*/
    /*$('#notic').popup({
        popup:$('#messageList'),
        position:'right center'
    })*/

</script>
</body>
</html>