<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--登录后的首页面-->
    <meta charset="UTF-8">
    <!--适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--一CDN方式引入Semantic UI-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
    <!--highcharts-->
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>
    <!--词云-->
    <script src="https://cdn.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/wordcloud.js"></script>
    <!---->
    <script src="https://cdn.highcharts.com.cn/highcharts/highcharts-more.js"></script>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu" style="display: flex;justify-content: center">
            <h2 class="ui olive header item" style="font-family: 'Andale Mono'">不喝奶茶的Programmer</h2>
            <a href="#" th:href="@{/}" class=" m-item item m-mobile-hide"><i
                    class="list alternate outline icon"></i>首页</a>
            <a href="#" th:href="@{/admin/blogList}" class="m-item item m-mobile-hide">
                <i class="cogs icon"></i>
                文章管理
            </a>
            <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i
                    class="clone outline icon"></i>分类</a>
            <a href="#" th:href="@{/admin/TagsList}" class="m-item item m-mobile-hide"><i class="clock icon"></i>标签</a>
            <div class="active right m-item m-mobile-hide menu">
                <div class="ui dropdown item ">
                    <div class="text">
                        <i class="chart pie icon"></i>
                        统计
                    </div>
                    <!--下拉图标-->
                    <i class="dropdown icon"></i>
                    <!--下拉菜单-->
                    <div class="menu">
                        <a href="#" th:href="@{/admin/statistics}" class="item">系统统计</a>
                    </div>
                </div>
            </div>
            <div class="right m-item item m-mobile-hide" th:if="${session.user}!=null">
                <!--系统通知-->
                <a class="item" th:href="@{/inform}">
                    <i class="red bullhorn icon"></i>公告
                    <div class="floating ui red label">22</div>
                </a>
            </div>
            <div class="right m-item item m-mobile-hide" th:if="${session.user}!=null">
                <!--收藏-->
                <a class="item" th:href="@{/getCollection}">
                    <i class="red heart  icon"></i>
                    收藏
                    <div class="floating ui red label">
                        <span th:text="${session.collectionSize}"></span>
                    </div>
                </a>
            </div>
            <div class="right m-item item m-mobile-hide" th:if="${session.user}==null">
                <!--登录or注册-->
                <a class="item">
                    <i class="button icon"></i>注册/登录
                </a>
            </div>
            <!--导航栏右头像部分-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item ">
                    <div class="text" th:if="${session.user}!=null">
                        <img class="ui avatar image" src="../../static/image/header.png"
                             th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">GJY</span>
                    </div>
                    <!--下拉图标-->
                    <i class="dropdown icon"></i>
                    <!--下拉菜单-->
                    <div class="menu">
                        <a href="#" th:href="@{/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--设置手机端时隐藏导航内容-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>
<!--中间内容-->
<div class="ui two column divided grid" style="margin-left: 8px;margin-top: 8px;margin-bottom: 5px">
    <div class="stretched row">
        <!--系统访问量-->
        <div class="column">
            <div class="column">
                <div class="ui segment">
                    <!--系统一周访问量趋势-->
                    <div id="container" style=" width:100%;height:100%"></div>
                </div>
            </div>
        </div>
        <!--排行榜-->
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label" style="font-family: 'Droid Sans Mono', monospace;font-weight: bold">
                    <div class="ui mini horizontal statistic">
                        <div class="value">
                            排行榜
                        </div>
                    </div>
                </a>
                <div class="ui mini horizontal statistic">
                    <div class="value">
                        不喝奶茶的Programmer
                    </div>
                </div>
                <!---->
                <div class="ui relaxed divided list">
                    <!--收藏量-->
                    <div class="item">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="content">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui button">
                                                <i class="large red eye middle aligned icon"></i> 浏览量
                                            </div>
                                            <a class="ui basic red left pointing label">
                                                <div class="ui mini horizontal statistic">
                                                    <div class="value" id="viewCount">
                                                        2,204
                                                    </div>
                                                    <div class="label">
                                                        人/浏览
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui button">
                                                <i class="large red copy middle aligned icon"></i> 文章数量
                                            </div>
                                            <a class="ui basic red left pointing label">
                                                <div class="ui mini horizontal statistic">
                                                    <div class="value" id="blogCount">
                                                        2,204
                                                    </div>
                                                    <div class="label">
                                                        篇
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--评论量-->
                    <div class="item">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="content">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui button">
                                                <i class="large red comment alternate middle aligned icon"></i> 评论量
                                            </div>
                                            <a class="ui basic red left pointing label">
                                                <div class="ui mini horizontal statistic">
                                                    <div class="value" id="commentCount">
                                                        2,204
                                                    </div>
                                                    <div class="label">
                                                       人/评论
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui button">
                                                <i class="large red clipboard middle aligned icon"></i> 分类数量
                                            </div>
                                            <a class="ui basic red left pointing label">
                                                <div class="ui mini horizontal statistic">
                                                    <div class="value" id="typeCount">
                                                        2,204
                                                    </div>
                                                    <div class="label">
                                                        个
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--浏览量-->
                    <div class="item">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="content">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui button">
                                                <i class="large red heart middle aligned icon"></i> 收藏量
                                            </div>
                                            <a class="ui basic red left pointing label">
                                                <div class="ui mini horizontal statistic">
                                                    <div class="value" id="collectCount">
                                                        2,204
                                                    </div>
                                                    <div class="label">
                                                        条/收藏
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="content">
                                        <div class="ui labeled button" tabindex="0">
                                            <div class="ui button">
                                                <i class="large red tags middle aligned icon"></i> 标签数量
                                            </div>
                                            <a class="ui basic red left pointing label">
                                                <div class="ui mini horizontal statistic">
                                                    <div class="value" id="tagCount">
                                                        2,204
                                                    </div>
                                                    <div class="label">
                                                        个
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--最热文章-->
                    <div class="item">
                        <div class="content">
                            <div class="ui labeled button" tabindex="0">
                                <div class="ui button">
                                    <i class="large red hotjar middle aligned icon"></i> 最热文章
                                </div>
                                <a class="ui basic red left pointing label" id="hotBlog">
                                    RabbitMQ
                                </a>
                                <a class="ui basic red left pointing label">
                                    <div class="ui mini horizontal statistic">
                                        <div class="value" id="hotBlogComment">
                                            2,204
                                        </div>
                                        <div class="label">
                                            人/评论、
                                        </div>
                                        <div class="value" id="hotBlogView">
                                            2,204
                                        </div>
                                        <div class="label">
                                            人/浏览
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <!--评论最多-->
                    <div class="item">
                        <div class="content">
                            <div class="ui labeled button" tabindex="0">
                                <div class="ui button">
                                    <i class="large red hotjar middle aligned icon"></i> 评论最多文章
                                </div>
                                <a class="ui basic red left pointing label" id="mostComment">
                                    SpringBoot
                                </a>
                                <a class="ui basic red left pointing label">
                                    <div class="ui mini horizontal statistic">
                                        <div class="value" id="blogComment">
                                            2,204
                                        </div>
                                        <div class="label">
                                            人/评论
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <!--收藏最多-->
                    <div class="item">
                        <div class="content">
                            <div class="ui labeled button" tabindex="0">
                                <div class="ui button">
                                    <i class="large red hotjar middle aligned icon"></i> 收藏最多文章
                                </div>
                                <a class="ui basic red left pointing label" id="mostCollected">
                                    深入理解java虚拟机
                                </a>
                                <a class="ui basic red left pointing label">
                                    <div class="ui mini horizontal statistic">
                                        <div class="value" id="blogCollection">
                                            2,204
                                        </div>
                                        <div class="label">
                                            人/收藏
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ui three column divided grid" style="margin-left: 8px;margin-top: 8px;margin-bottom: 5px">
    <div class="stretched row">
        <div class="column">
            <div class="ui segment">
                <div class="column">
                    <div id="container1" style="width:100%;height:510px"></div>
                    <script type="text/javascript">
                        window.onload = function init() {
                            /*分类浏览次数*/
                            $.ajax({
                                url: '/getCount',
                                success: function (data) {
                                    var typeTotal = [];
                                    for (var i = 0; i < data.length; i++) {
                                        typeTotal.push([data[i].name, data[i].views])
                                    }

                                    Highcharts.chart('container1', {
                                        chart: {
                                            type: 'pie',
                                            options3d: {
                                                enabled: true,
                                                alpha: 45,
                                                beta: 0
                                            }
                                        },
                                        title: {
                                            text: '不同分类文章浏览量占比'
                                        },
                                        tooltip: {
                                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                        },
                                        plotOptions: {
                                            pie: {
                                                allowPointSelect: true,
                                                cursor: 'pointer',
                                                depth: 35,
                                                dataLabels: {
                                                    enabled: true,
                                                    format: '{point.name}'
                                                }
                                            }
                                        },
                                        series: [{
                                            type: 'pie',
                                            name: '不同分类浏览量占比',
                                            data: typeTotal
                                        }]
                                    });

                                }
                            })
                            /*词云*/
                            $.ajax({
                                url: '/wordCloud',
                                success: function (data1) {
                                    var text = data1;
                                    var data = text.split(/[,\. ]+/g)
                                        .reduce(function (arr, word) {
                                            var obj = arr.find(function (obj) {
                                                return obj.name === word;
                                            });
                                            if (obj) {
                                                obj.weight += 1;
                                            } else {
                                                obj = {
                                                    name: word,
                                                    weight: 1
                                                };
                                                arr.push(obj);
                                            }
                                            return arr;
                                        }, []);
                                    Highcharts.chart('container2', {
                                        series: [{
                                            type: 'wordcloud',
                                            data: data
                                        }],
                                        title: {
                                            text: '词云'
                                        }
                                    });
                                }
                            })
                            /*系统活跃量*/
                            $.ajax({
                                url: '/systemVisits',
                                success: function (data) {
                                    var chart = Highcharts.chart('container', {
                                        chart: {
                                            type: 'areaspline'
                                        },
                                        title: {
                                            text: '系统一周活跃量趋势'
                                        },
                                        legend: {
                                            layout: 'vertical',
                                            align: 'left',
                                            verticalAlign: 'top',
                                            x: 150,
                                            y: 100,
                                            floating: true,
                                            borderWidth: 1,
                                            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                                        },
                                        xAxis: {
                                            categories: [
                                                '周一', '周二', '周三', '周四', '周五', '周六', '周日'
                                            ],
                                            plotBands: [{ // 标识出周末
                                                from: 4.5,
                                                to: 6.5,
                                                color: 'rgba(68, 170, 213, .2)'
                                            }]
                                        },
                                        yAxis: {
                                            title: {
                                                text: '人数 单位'
                                            }
                                        },
                                        tooltip: {
                                            shared: true,
                                            valueSuffix: ' 人'
                                        },
                                        plotOptions: {
                                            areaspline: {
                                                fillOpacity: 0.5
                                            }
                                        },
                                        series: [{
                                            name: '游客',
                                            data: data[0]
                                        }, {
                                            name: '普通用户',
                                            data: data[1]
                                        }, {
                                            name: '总活跃量',
                                            data: [
                                                data[0][0] + data[1][0],
                                                data[0][1] + data[1][1],
                                                data[0][2] + data[1][2],
                                                data[0][3] + data[1][3],
                                                data[0][4] + data[1][4],
                                                data[0][5] + data[1][5],
                                                data[0][6] + data[1][6],
                                            ]
                                        }]
                                    });
                                }
                            })
                            /**/
                            $.ajax({
                                url: '/leaderBoard',
                                success: function(data){
                                    $('#collectCount').html(data[0])
                                    $('#blogCount').html(data[3])
                                    $('#commentCount').html(data[1])
                                    $('#typeCount').html(data[5])
                                    $('#viewCount').html(data[2])
                                    $('#tagCount').html(data[4])
                                }
                            })

                            $.ajax({
                                url:'/leaderBoard1',
                                success: function(data){
                                    console.log(data)
                                   for(var key in data[0]){
                                       /*收藏最多的文章*/
                                       $('#blogCollection').html(data[0][key])
                                       $('#mostCollected').html(key)
                                   }

                                    for(var key in data[1]){
                                        /*评论最多的文章*/
                                        $('#blogComment').html(data[1][key])
                                        $('#mostComment').html(key)
                                        /*最热文章的评论数*/
                                        $('#hotBlogComment').html(data[1][key])
                                    }

                                    for(var key in data[2]){
                                        /*最热文章的浏览量*/
                                        $('#hotBlogView').html(data[2][key])
                                        $('#hotBlog').html(key)
                                    }


                                }
                            })
                        }
                    </script>
                </div>
            </div>
        </div>
        <!--词云-->
        <div class="column">
            <div class="ui segment">
                <div class="column">
                    <div id="container2" style="width:100%;height:510px"></div>
                </div>
            </div>
        </div>
        <!--蜂槽图：-->
        <div class="column">
            <div class="ui segment">
                <div class="column">
                    <div id="container3" style="width:100%;height:510px"></div>
                    <script>
                        Highcharts.chart('container3', {
                            chart: {
                                type: 'packedbubble',
                                height: '100%'
                            },
                            title: {
                                text: '用户年龄分布'
                            },
                            tooltip: {
                                useHTML: true,
                                pointFormat: '<b>{point.name}:</b> {point}岁'
                            },
                            plotOptions: {
                                packedbubble: {
                                    minSize: '30%',
                                    maxSize: '120%',
                                    zMin: 0,
                                    zMax: 1000,
                                    layoutAlgorithm: {
                                        splitSeries: false,
                                        gravitationalConstant: 0.02
                                    },
                                    dataLabels: {
                                        enabled: true,
                                        format: '{point.name}',
                                        filter: {
                                            property: 'y',
                                            operator: '>',
                                            value: 250
                                        },
                                        style: {
                                            color: 'black',
                                            textOutline: 'none',
                                            fontWeight: 'normal'
                                        }
                                    }
                                }
                            },
                            series: [
                                {
                                    name: '00后',
                                    data: [
                                        {
                                            name: 'admin',
                                            value: 20
                                        },
                                        {
                                            name: '跃',
                                            value: 20
                                        },
                                        {
                                            name: 'admin',
                                            value: 20
                                        },
                                        {
                                            name: '跃',
                                            value: 20
                                        },
                                        {
                                            name: 'admin',
                                            value: 20
                                        },
                                        {
                                            name: '跃',
                                            value: 20
                                        },
                                        {
                                            name: "Ukraine",
                                            value: 20
                                        },
                                        {
                                            name: "Poland",
                                            value: 20
                                        },
                                        {
                                            name: "France",
                                            value: 20
                                        },
                                        {
                                            name: "Romania",
                                            value: 20
                                        },
                                        {
                                            name: "United Kingdom",
                                            value: 20
                                        }, {
                                            name: "Turkey",
                                            value: 20
                                        }, {
                                            name: "Italy",
                                            value: 20
                                        },
                                        {
                                            name: "Greece",
                                            value: 20
                                        },
                                        {
                                            name: "Austria",
                                            value: 20
                                        },
                                        {
                                            name: "Belarus",
                                            value: 20
                                        },
                                        {
                                            name: "Serbia",
                                            value: 20
                                        },
                                        {
                                            name: "Finland",
                                            value: 20
                                        },
                                        {
                                            name: "Bulgaria",
                                            value: 20
                                        },
                                        {
                                            name: "Portugal",
                                            value: 21
                                        },
                                        {
                                            name: "Norway",
                                            value: 20
                                        },
                                        {
                                            name: "Sweden",
                                            value: 44
                                        },
                                        {
                                            name: "Hungary",
                                            value: 43
                                        },
                                        {
                                            name: "Switzerland",
                                            value: 40
                                        },
                                        {
                                            name: "Denmark",
                                            value: 40
                                        },
                                        {
                                            name: "Slovakia",
                                            value: 34
                                        },
                                        {
                                            name: "Ireland",
                                            value: 34
                                        },
                                        {
                                            name: "Croatia",
                                            value: 20
                                        },
                                        {
                                            name: "Estonia",
                                            value: 19
                                        },
                                        {
                                            name: "Slovenia",
                                            value: 16
                                        },
                                        {
                                            name: "Lithuania",
                                            value: 12
                                        },
                                        {
                                            name: "Luxembourg",
                                            value: 10
                                        },
                                        {
                                            name: "Macedonia",
                                            value: 29
                                        },
                                        {
                                            name: "Moldova",
                                            value: 78
                                        },
                                        {
                                            name: "Latvia",
                                            value: 75
                                        },
                                        {
                                            name: "Cyprus",
                                            value: 72
                                        }]
                                },
                                {
                                    name: '90后',
                                    data: [
                                        {
                                            name: "Senegal",
                                            value: 29
                                        },
                                        {
                                            name: "Cameroon",
                                            value: 29
                                        },
                                        {
                                            name: "Zimbabwe",
                                            value: 29
                                        },
                                        {
                                            name: "Ghana",
                                            value: 29
                                        },
                                        {
                                            name: "Kenya",
                                            value: 14.1
                                        },
                                        {
                                            name: "Sudan",
                                            value: 17.3
                                        },
                                        {
                                            name: "Tunisia",
                                            value: 24.3
                                        },
                                        {
                                            name: "Angola",
                                            value: 25
                                        },
                                        {
                                            name: "Libya",
                                            value: 50.6
                                        },
                                        {
                                            name: "Ivory Coast",
                                            value: 7.3
                                        },
                                        {
                                            name: "Morocco",
                                            value: 60.7
                                        },
                                        {
                                            name: "Ethiopia",
                                            value: 8.9
                                        },
                                        {
                                            name: "United Republic of Tanzania",
                                            value: 9.1
                                        },
                                        {
                                            name: "Nigeria",
                                            value: 93.9
                                        },
                                        {
                                            name: "South Africa",
                                            value: 392.7
                                        }, {
                                            name: "Egypt",
                                            value: 225.1
                                        }, {
                                            name: "Algeria",
                                            value: 141.5
                                        }]
                                },
                                {
                                    name: '80后',
                                    data: [
                                        {
                                            name: "Australia",
                                            value: 409.4
                                        },
                                        {
                                            name: "New Zealand",
                                            value: 34.1
                                        },
                                        {
                                            name: "Papua New Guinea",
                                            value: 7.1
                                        }]
                                },
                                {
                                    name: '北美洲',
                                    data: [
                                        {
                                            name: "Costa Rica",
                                            value: 7.6
                                        },
                                        {
                                            name: "Honduras",
                                            value: 8.4
                                        },
                                        {
                                            name: "Jamaica",
                                            value: 8.3
                                        },
                                        {
                                            name: "Panama",
                                            value: 10.2
                                        },
                                        {
                                            name: "Guatemala",
                                            value: 12
                                        },
                                        {
                                            name: "Dominican Republic",
                                            value: 23.4
                                        },
                                        {
                                            name: "Cuba",
                                            value: 30.2
                                        },
                                        {
                                            name: "USA",
                                            value: 5334.5
                                        }, {
                                            name: "Canada",
                                            value: 566
                                        }, {
                                            name: "Mexico",
                                            value: 456.3
                                        }]
                                },
                                {
                                    name: '70后',
                                    data: [
                                        {
                                            name: "El Salvador",
                                            value: 7.2
                                        },
                                        {
                                            name: "Uruguay",
                                            value: 8.1
                                        },
                                        {
                                            name: "Bolivia",
                                            value: 17.8
                                        },
                                        {
                                            name: "Trinidad and Tobago",
                                            value: 34
                                        },
                                        {
                                            name: "Ecuador",
                                            value: 43
                                        },
                                        {
                                            name: "Chile",
                                            value: 78.6
                                        },
                                        {
                                            name: "Peru",
                                            value: 52
                                        },
                                        {
                                            name: "Colombia",
                                            value: 74.1
                                        },
                                        {
                                            name: "Brazil",
                                            value: 501.1
                                        }, {
                                            name: "Argentina",
                                            value: 199
                                        },
                                        {
                                            name: "Venezuela",
                                            value: 195.2
                                        }]
                                },
                                {
                                    name: '60后',
                                    data: [
                                        {
                                            name: "Nepal",
                                            value: 6.5
                                        },
                                        {
                                            name: "Georgia",
                                            value: 6.5
                                        },
                                        {
                                            name: "Brunei Darussalam",
                                            value: 7.4
                                        },
                                        {
                                            name: "Kyrgyzstan",
                                            value: 7.4
                                        },
                                        {
                                            name: "Afghanistan",
                                            value: 7.9
                                        },
                                        {
                                            name: "Myanmar",
                                            value: 9.1
                                        },
                                        {
                                            name: "Mongolia",
                                            value: 14.7
                                        },
                                        {
                                            name: "Sri Lanka",
                                            value: 16.6
                                        },
                                        {
                                            name: "Bahrain",
                                            value: 20.5
                                        },
                                        {
                                            name: "Yemen",
                                            value: 22.6
                                        },
                                        {
                                            name: "Jordan",
                                            value: 22.3
                                        },
                                        {
                                            name: "Lebanon",
                                            value: 21.1
                                        },
                                        {
                                            name: "Azerbaijan",
                                            value: 31.7
                                        },
                                        {
                                            name: "Singapore",
                                            value: 47.8
                                        },
                                        {
                                            name: "Hong Kong",
                                            value: 49.9
                                        },
                                        {
                                            name: "Syria",
                                            value: 52.7
                                        },
                                        {
                                            name: "DPR Korea",
                                            value: 59.9
                                        },
                                        {
                                            name: "Israel",
                                            value: 64.8
                                        },
                                        {
                                            name: "Turkmenistan",
                                            value: 70.6
                                        },
                                        {
                                            name: "Oman",
                                            value: 74.3
                                        },
                                        {
                                            name: "Qatar",
                                            value: 88.8
                                        },
                                        {
                                            name: "Philippines",
                                            value: 96.9
                                        },
                                        {
                                            name: "Kuwait",
                                            value: 98.6
                                        },
                                        {
                                            name: "Uzbekistan",
                                            value: 122.6
                                        },
                                        {
                                            name: "Iraq",
                                            value: 139.9
                                        },
                                        {
                                            name: "Pakistan",
                                            value: 158.1
                                        },
                                        {
                                            name: "Vietnam",
                                            value: 190.2
                                        },
                                        {
                                            name: "United Arab Emirates",
                                            value: 201.1
                                        },
                                        {
                                            name: "Malaysia",
                                            value: 227.5
                                        },
                                        {
                                            name: "Kazakhstan",
                                            value: 236.2
                                        },
                                        {
                                            name: "Thailand",
                                            value: 272
                                        },

                                        {
                                            name: "Indonesia",
                                            value: 453
                                        },
                                        {
                                            name: "Saudi Arabia",
                                            value: 494.8
                                        },
                                        {
                                            name: "Japan",
                                            value: 1278.9
                                        },
                                        {
                                            name: "China",
                                            value: 10540.8
                                        },
                                        {
                                            name: "India",
                                            value: 2341.9
                                        },
                                        {
                                            name: "Russia",
                                            value: 1766.4
                                        },
                                        {
                                            name: "Iran",
                                            value: 618.2
                                        },
                                        {
                                            name: "Korea",
                                            value: 610.1
                                        }]
                                }
                            ]
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted m-text-thin m-text-spaced m-margin-top-max">联系我
                </div>
                <div class="ui inverted link list">
                    <div href="#" class="m-text-thin">Email：onestarlr@hotmail.com</div>
                    <div href="#" class="m-text-thin">QQ：2390232432</div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            关注公众号
                        </div>
                        <img src="../../static/image/wechat.png" th:src="@{/image/wechat.png}"
                             class="ui m-margin-top rounded image"
                             alt=""
                             style="width:
                        110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--微信二维码-->
                        <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced ">
                            问题交流（QQ群）
                        </div>
                        <img src="../../static/image/wechat.png" th:src="@{/image/wechat.png}"
                             class="ui m-margin-top rounded image"
                             alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <div style="font-size: large;font-weight: bold"
                     class="ui inverted  m-text-thin m-text-spaced m-margin-top">客栈信息
                </div>
                <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                <div id="blog-message">
                    <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px;">
                            文章总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 篇
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            访问总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 次
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            评论总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 条
                        </div>
                        <div class="m-text-thin" style="text-align: left;margin-left: 75px">
                            留言总数： <h2 class="ui orange header m-inline-block m-margin-top-null"
                                      style="font-size:medium;"> 14 </h2> 条
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备20004408号-1</a>
    </div>
</footer>

<!--以CDN方式引入jQuery-->
<script src="../../static/jQuery/jquery-3.4.1.min.js" th:src="@{/jQuery/jquery-3.4.1.min.js}"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    /*初始化下拉列表*/
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });

    /*消息提示关闭初始化*/
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        });

    /* $('#notic').mouseover(function (){
         alert("mmm")
     })*/
    /*$('#notic').popup({
        popup:$('#messageList'),
        position:'right center'
    })*/

</script>


</body>
</html>